@model PagedList.IPagedList<ToyStore.Models.DiscountCode>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Mã Giảm Giá";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script>
    $(document).ready(function () {
        $('#btnAddNew').off('click').on('click', function () {
            $('#modalAdd').modal('show');
        });
        $(document).on('click', '.btnOpen', function () {
            var id = $(this).attr('id');
            var row = $(this).attr('value');
            $(this).attr("class", "btn btn-link btnBlock");
            $(this).attr("data-ajax-update", "#DivActive" + row);
            $(this).attr("href", "/DiscountCodeManage/Block/" + id + "?row=" + row + "&amp;value=" + id + "\"");
            $(this).html("Khóa");
        });
        $(document).on('click', '.btnBlock', function () {
            var id = $(this).attr('id');
            var row = $(this).attr('value');
            $(this).attr("class", "btn btn-link btnOpen");
            $(this).attr("data-ajax-update", "#DivActive" + row);
            $(this).attr("href", "/DiscountCodeManage/Active/" + id + "?row=" + row + "&amp;value=" + id + "\"");
            $(this).html("Mở");
        });
    });
</script>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index")">Trang chủ</a> <i class="fa fa-angle-right"></i></li>
    <li class="breadcrumb-item"><a href="@Url.Action("List")">Mã Giảm Giá</a> <i class="fa fa-angle-right"></i></li>
</ol>

<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            <ul class="bt-list">
                <li><a href="#" class="hvr-icon-float-away col-24" style="background-color:green" id="btnAddNew">Thêm mới</a></li>
            </ul>
            <p>@ViewBag.message</p>
            <div class="clearfix"> </div>
            <hr />
            <h2>Danh sách mã giảm giá</h2>
            <table id="table">
                <thead>
                    <tr>
                        <th>
                            Giảm Giá
                        </th>
                        <th>
                            Ngày Hết Hạn
                        </th>
                        <th>
                            Số Lượng
                        </th>
                        <th>
                            Còn Lại
                        </th>
                        <th>
                            Trạng Thái
                        </th>
                        <th>
                            Tạo Bởi
                        </th>
                        <th>Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter1 = 0;
                    }
                    @foreach (var item in Model)
                    {
                        @Html.Hidden(item.ID.ToString())
                        <tr>
                            <td style="color:brown">
                                -@Html.DisplayFor(modelItem => item.NumberDiscount)%
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpirationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiscountCodeDetails.ToList().Count)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiscountCodeDetails.Where(x => x.IsUsed == false).ToList().Count)
                            </td>
                            <td>
                                <div id="DivActive@(counter1)">
                                    @if (item.IsActive == true)
                                    {
                                        <span class="label label-success">Kích hoạt</span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger">Khóa</span>
                                    }
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Emloyee.FullName)
                            </td>
                            <td>
                                @if (item.IsActive == true)
                                {
                                    @Ajax.ActionLink("Khóa", "Block", "DiscountCodeManage", new { ID = item.ID, row = counter1 }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "DivActive" + counter1, InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-link btnBlock", data = counter1, id = item.ID, value = counter1 })
                                }
                                else
                                {
                                    @Ajax.ActionLink("Mở", "Active", "DiscountCodeManage", new { ID = item.ID, row = counter1 }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "DivActive" + counter1, InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-link btnOpen", data = counter1, id = item.ID, value = counter1 })
                                }
                            </td>
                        </tr>
                        @(counter1++)
                    }
                    @(counter1 = 0)
                </tbody>
            </table>
            <br />
            <div id='Paging' style="text-align: center">
                @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAdd" role="dialog">
    <div class="modal-dialog">

        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm mới</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "DiscountCodeManage", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>Khuyến mãi(%):</label>
                        <input type="number" class="form-control" name="NumberDiscount" id="NumberDiscount">
                    </div>
                    <div class="form-group">
                        <label>Số lượng:</label>
                        <input type="number" class="form-control" name="Quantity" id="Quantity">
                    </div>
                    <div class="form-group">
                        <label>Ngày hết hạn:</label>
                        <input type="date" class="form-control" name="ExpirationDate" id="ExpirationDate">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnSave">Thêm</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>