@using ToyStore.Models;
@model PagedList.IPagedList<QA>
@using PagedList.Mvc;
@{ ViewBag.Title = "List";
    Layout = "~/Views/Layout/AdminLayout.cshtml"; }
@{ User user = Session["User"] as User; }
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@if (TempData["ModifiedQA"] != null)
{
    <script>
        swal({
            title: "Thông báo",
            text: "Thực hiện thành công!",
            icon: "success",
            timer: 1500
        });
    </script> @(TempData["ModifiedQA"] = null)}
<script>
    $(document).ready(function () {
        //$('#btnAddNew').off('click').on('click', function () {
        //    $('#modalAdd').modal('show');
        //});
        $('.btnEdit').off('click').on('click', function () {
            var id = $(this).val();
            $('#modalUpdate').modal('show');
            $.ajax({
                url: '/QAManage/Edit',
                data: {
                    id: id
                },
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        $('#ID').val(response.ID);
                        $('#Question').val(response.Question);
                        $('#Answer').val(response.Answer);
                    }
                    else {
                        bootbox.alert(response.message);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
    });
</script>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index")">Trang chủ</a> <i class="fa fa-angle-right"></i></li>
    <li class="breadcrumb-item"><a href="@Url.Action("List")">Hỏi đáp</a> <i class="fa fa-angle-right"></i></li>
</ol>
<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            <hr />
            <div class="w3-search-box">
                <form action="~/ProductManage/List" method="post">
                    <input type="text" placeholder="Tìm kiếm..." name="keyword" id="keyword">
                    <input type="submit" value="">
                </form>
            </div><!--//end-search-box-->
            <p>@ViewBag.message</p>
            <div class="clearfix"> </div>
            <hr />
            <h2>Danh sách hỏi đáp</h2>
            <table id="table">
                <thead>
                    <tr>
                        <th>
                            Tên TV
                        </th>
                        <th>
                            Tên SP
                        </th>
                        <th>
                            Ảnh
                        </th>
                        <th>
                            Câu hỏi
                        </th>
                        <th>
                            Câu trả lời
                        </th>
                        <th>
                            Ngày hỏi
                        </th>
                        <th>
                            Ngày trả lời
                        </th>
                        <th>
                            Bởi
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{ int counter1 = 0; }
                    @foreach (var item in Model)
                    {
                        @Html.Hidden(item.ID.ToString())
                        <tr>
                            <td style="color:brown">
                                <b>@Html.DisplayFor(modelItem => item.User.FullName)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Name)
                            </td>
                            <td>
                                <img src="@Url.Content("~/Content/images/" + item.Product.Image1)" width="50" height="50" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Question)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Answer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateQuestion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateAnswer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.FullName)
                            </td>
                            <td>
                                <div id="DivActive@(counter1)">
                                    @if (item.Status == true)
                                    {
                                        <span class="label label-success">Đã trả lời</span> }
                                    else
                                    {
                                        <span class="label label-danger">Chưa trả lời</span>}
                                </div>
                            </td>
                            <td>
                                @if (item.Status == true)
                                {

                                    if (item.UserAnswerID == user.ID)
                                    {
                                        <button class="btn btn-primary btnEdit" value="@item.ID">Sửa</button> }
                                    else
                                    {

                                        <button class="btn btn-primary btnEdit" value="@item.ID" disabled="disabled">Sửa</button> }
                                }
                                else
                                {
                                    <button class="btn btn-primary btnEdit" value="@item.ID">T.lời</button>}
                            </td>
                        </tr> @(counter1++)}
                    @(counter1 = 0)
                </tbody>
            </table>
            <br />
            <div id='Paging' style="text-align: center">
                @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalUpdate" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "QAManage", FormMethod.Post))
                {
                    <input type="text" name="ID" id="ID" hidden="hidden" />
                    <input type="text" name="page" value="@ViewBag.Page" hidden="hidden" />
                    <div class="form-group">
                        <label for="Name">Câu hỏi:</label>
                        <input type="text" class="form-control" name="Question" id="Question" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="Name">Câu trả lời:</label>
                        <textarea class="form-control" name="Answer" id="Answer" style="resize:vertical"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnSave">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>}
            </div>
        </div>
    </div>
</div>