@using ToyStore.Models;
@model PagedList.IPagedList<QA>
@using PagedList.Mvc;

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
@{
    IEnumerable<Product> products = ViewBag.ListProduct as IEnumerable<Product>;
    IEnumerable<Member> members = ViewBag.ListMember as IEnumerable<Member>;
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    $(document).ready(function () {
        //$('#btnAddNew').off('click').on('click', function () {
        //    $('#modalAdd').modal('show');
        //});
        $('.btnEdit').off('click').on('click', function () {
            var id = $(this).val();
            $('#modalUpdate').modal('show');
            $.ajax({
                url: '/QAManage/Edit',
                data: {
                    id: id
                },
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        var data = response.data;
                        $('#ID').val(data.ID);
                        $('#MemberID').val(data.MemberID);
                        $('#ProductID').val(data.ProductID);
                        $('#Question').val(data.Question);
                        $('#Answer').val(data.Answer);
                        var newFormattedDate = $.datepicker.formatDate('dd/mm/yy', new Date(Date(data.DateQuestion)));
                        $('#DateQuestion').val(newFormattedDate);
                    }
                    else {
                        bootbox.alert(response.message);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
        //$("#keyword").autocomplete({
        //    source: function (request, response) {
        //        $.ajax({
        //            url: "/ProductManage/ListName",
        //            type: "POST",
        //            dataType: "json",
        //            data: { Prefix: request.term },
        //            success: function (data) {
        //                response($.map(data, function (item) {
        //                    return { label: item.Name, value: item.Name };
        //                }))

        //            }
        //        })
        //    },
        //    messages: {
        //        noResults: "", results: ""
        //    }
        //});
        //$(document).on('click', '.btnOpen', function () {
        //    var id = $(this).attr('id');
        //    var row = $(this).attr('value');
        //    $(this).attr("class", "btn btn-link btnBlock");
        //    $(this).attr("data-ajax-update", "#DivActive" + row);
        //    $(this).attr("href", "/ProductManage/Block/" + id + "?row=" + row + "&amp;value=" + id + "\"");
        //    $(this).html("Khóa");
        //});
        //$(document).on('click', '.btnBlock', function () {
        //    var id = $(this).attr('id');
        //    var row = $(this).attr('value');
        //    $(this).attr("class", "btn btn-link btnOpen");
        //    $(this).attr("data-ajax-update", "#DivActive" + row);
        //    $(this).attr("href", "/ProductManage/Active/" + id + "?row=" + row + "&amp;value=" + id + "\"");
        //    $(this).html("Mở");
        //});
        //$('#btnDeleteMulti').hide();
        //$('#checkAll').click(function () {
        //    if ($(this).is(":checked")) {
        //        $(".cbProductCategory").prop("checked", true)
        //    }
        //    else {
        //        $(".cbProductCategory").prop("checked", false)
        //    }
        //    $('#btnDeleteMulti').toggle();
        //});
    });
</script>
@{

    if (TempData["edit"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal({
                    title: "Thông báo",
                    text: "Cập nhật sản phẩm thành công!",
                    icon: "success",
                    timer: 1500
                });
            };

        </script>
    }
    else if (TempData["create"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal({
                    title: "Thông báo",
                    text: "Thêm mới sản phẩm thành công!",
                    icon: "success",
                    timer: 1500
                });
            };
        </script>
    }
    else if (TempData["block"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal({
                    title: "Thông báo",
                    text: "Khóa sản phẩm thành công!",
                    icon: "success",
                    timer: 1500
                });
            };
        </script>
    }
    else if (TempData["acitve"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal({
                    title: "Thông báo",
                    text: "Mở khóa sản phẩm thành công!",
                    icon: "success",
                    timer: 1500
                });
            };
        </script>
    }
    else if (TempData["deleteMulti"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal({
                    title: "Thông báo",
                    text: "Khóa nhiều sản phẩm thành công!",
                    icon: "success",
                    timer: 1500
                });
            };
        </script>
    }
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index")">Trang chủ</a> <i class="fa fa-angle-right"></i></li>
    <li class="breadcrumb-item"><a href="@Url.Action("List")">Sản phẩm</a> <i class="fa fa-angle-right"></i></li>
</ol>

<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            <ul class="bt-list">
                <li><a href="#" class="hvr-icon-float-away col-24" style="background-color:green" id="btnAddNew">Thêm mới</a></li>
            </ul>
            <hr />
            <div class="w3-search-box">
                <form action="~/ProductManage/List" method="post">
                    <input type="text" placeholder="Tìm kiếm..." name="keyword" id="keyword">
                    <input type="submit" value="">
                </form>
            </div><!--//end-search-box-->
            <p>@ViewBag.message</p>
            <div class="clearfix"> </div>
            <hr />
            <h2>Danh sách hỏi đáp</h2>
            <table id="table">
                <thead>
                    <tr>
                        <th>
                            Tên thành viên
                        </th>
                        <th>
                            Mã sản phẩm
                        </th>
                        <th>
                            Câu hỏi
                        </th>
                        <th>
                            Câu trả lời
                        </th>
                        <th>
                            Ngày hỏi
                        </th>
                        <th>
                            Ngày trả lời
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter1 = 0;
                    }
                    @foreach (var item in Model
                                    .Join(members, c => c.MemberID, m => m.ID, (c, m) => new { c, m })
                                    .Select(n => new { ID = n.c.ID, FullName = n.m.FullName, Question = n.c.Question, Answer = n.c.Answer, DateQuesion = n.c.DateQuestion, DateAnswer = n.c.DateAnswer, Status = n.c.Status }))
                    {
                        @Html.Hidden(item.ID.ToString())
                        <tr>
                            <td style="color:brown">
                                <b>@Html.DisplayFor(modelItem => item.FullName)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Question)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Answer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateQuesion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateAnswer)
                            </td>
                            <td>
                                <div id="DivActive@(counter1)">
                                    @if (item.Status == true)
                                    {
                                        <span class="label label-success">Đã trả lời</span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger">Chưa trả lời</span>
                                    }
                                </div>
                            </td>
                            <td>
                                @if (item.Status == true)
                                {
                                    <button class="btn btn-primary btnEdit" value="@item.ID">Sửa</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary btnAnswer" value="@item.ID">Trả lời</button>
                                }
                            </td>
                        </tr>
                        @(counter1++)
                    }
                    @(counter1 = 0)
                </tbody>
            </table>
            <br />
            <div id='Paging' style="text-align: center">
                @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalUpdate" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "QAManage", FormMethod.Post))
                {
                    <input type="text" name="ID" id="ID" hidden="hidden" />
                    <input type="text" name="MemberID" id="MemberID" hidden="hidden" />
                    <input type="text" name="ProductID" id="ProductID" hidden="hidden" />
                    <input type="text" name="DateQuestion" id="DateQuestion" hidden="hidden"/>
                    <input type="text" name="page" value="@ViewBag.Page" hidden="hidden" />
                    <div class="form-group">
                        <label for="Name">Câu hỏi:</label>
                        <input type="text" class="form-control" name="Question" id="Question" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="Name">Câu trả lời:</label>
                        <input type="text" class="form-control" name="Answer" id="Answer">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnSave">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>