@model IEnumerable<ToyStore.Models.Order>
@{
                /**/

                ViewBag.Title = "Đơn Đặt Hàng";
                Layout = "~/Views/Layout/HomeLayout.cshtml";
}
@{
    IEnumerable<ToyStore.Models.User> users = ViewBag.CustomerList as IEnumerable<ToyStore.Models.User>;
    IEnumerable<ToyStore.Models.Rating> ratings = ViewBag.ProductRating as IEnumerable<ToyStore.Models.Rating>;
}
<script>
    function openOrder(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    $(document).ready(function () {
        $('.btnCancel').off('click').on('click', function () {
            var id = $(this).attr("data-id");
            $.ajax({
                url: '/User/Cancel',
                data: {
                    id: id
                },
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        swal({
                            title: "Thông báo",
                            text: "Đã hủy đơn hàng thành công!",
                            icon: "success",
                            timer: 1500
                        });
                        window.setTimeout(function () {
                            window.location.reload();
                        }, 500);
                    }
                    else {
                        bootbox.alert(response.message);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
        $(document).on('click', '.btnRating', function () {
            var id = $(this).attr('title');
            var orderDetailID = $(this).attr('id');
            $('#modalRating').modal('show');
            $.ajax({
                url: '/User/GetDataProduct',
                data: {
                    ID: id,
                },
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        $('#ID').val(response.ID);
                        $('#OrderDetailID').val(orderDetailID);
                        $('#Name').val(response.Name);
                        $('#Image').attr('src', "/Content/images/" + response.Image);
                    }
                    else {
                        bootbox.alert(response.message);
                    }
                },
                error: function (err) {
                    bootbox.alert(err.fail);
                }
            });
        });
    });
</script>
<!--breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="active">Đơn Đặt Hàng</li>
        </ol>
    </div>
</div>
<!-- Tab links -->
<div class="tab">
    <button class="tablinks" onclick="openOrder(event, 'ChoDuyet')">Chờ duyệt</button>
    <button class="tablinks" onclick="openOrder(event, 'DaDuyet')">Đã duyệt</button>
    <button class="tablinks" onclick="openOrder(event, 'DangGiaoHang')">Đang giao hàng</button>
    <button class="tablinks" onclick="openOrder(event, 'DaNhan')">Đã nhận</button>
    <button class="tablinks" onclick="openOrder(event, 'DanhGia')">Đánh giá</button>
    <button class="tablinks" onclick="openOrder(event, 'DaHuy')">Đã hủy</button>
</div>
<!-- Tab content -->
<div id="ChoDuyet" class="tabcontent">
    @if (Model != null && Model.Where(x => x.IsApproved == false && x.IsCancel == false).Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Mã DĐH
                    </th>
                    <th>
                        Ngày đặt
                    </th>
                    <th>
                        Ngày giao dự kiến
                    </th>
                    <th>
                        Ưu đãi
                    </th>
                    <td>
                        Trạng thái
                    </td>
                    <th>
                        Duyệt
                    </th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.IsApproved == false && x.IsCancel == false))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Convert.ToDateTime(item.DateOrder).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Convert.ToDateTime(item.DateShip).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer)
                        </td>
                        <td>
                            @if (item.IsPaid)
                            {
                                <span class="label label-success">Đã thanh toán</span>
                            }
                            else
                            {
                                <span class="label label-danger">Chưa thanh toán</span>
                            }
                        </td>
                        <td>
                            @if (item.IsApproved)
                            {
                                <span class="label label-success">Đã duyệt</span>
                            }
                            else
                            {
                                <span class="label label-warning">Chưa duyệt</span>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Chi tiết", "OrderDetail", new { ID = item.ID })
                            <button data-id="@item.ID" class="btnCancel">Hủy</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Chưa có đơn hàng đang chờ duyệt</p>
    }
</div>
<div id="DaDuyet" class="tabcontent">
    @if (Model != null && Model.Where(x => x.IsApproved == true && x.IsDelivere == false).Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Mã DĐH
                    </th>
                    <th>
                        Ngày đặt
                    </th>
                    <th>
                        Ngày giao dự kiến
                    </th>
                    <th>
                        Ưu đãi
                    </th>
                    <td>
                        Trạng thái
                    </td>
                    <th>
                        Duyệt
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.IsApproved == true && x.IsDelivere == false))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Convert.ToDateTime(item.DateOrder).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Convert.ToDateTime(item.DateShip).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer)
                        </td>
                        <td>
                            @if (item.IsPaid)
                            {
                                <span class="label label-success">Đã thanh toán</span>
                            }
                            else
                            {
                                <span class="label label-danger">Chưa thanh toán</span>
                            }
                        </td>
                        <td>
                            @if (item.IsApproved == true)
                            {
                                <span class="label label-success">Đã duyệt</span>
                            }
                            else
                            {
                                <span class="label label-warning">Chưa duyệt</span>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Chi tiết", "OrderDetail", new { ID = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Chưa có đơn hàng đã duyệt</p>
    }
</div>
<div id="DangGiaoHang" class="tabcontent">
    @if (Model != null && Model.Where(x => x.IsDelivere == true && x.IsReceived == false).Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Mã DĐH
                    </th>
                    <th>
                        Ngày đặt
                    </th>
                    <th>
                        Ngày giao dự kiến
                    </th>
                    <th>
                        Ưu đãi
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Tình trạng giao hàng
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.IsDelivere == true && x.IsReceived == false))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Convert.ToDateTime(item.DateOrder).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Convert.ToDateTime(item.DateShip).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer)
                        </td>
                        <td>
                            @if (item.IsPaid)
                            {
                                <span class="label label-success">Đã thanh toán</span>
                            }
                            else
                            {
                                <span class="label label-danger">Chưa thanh toán</span>
                            }
                        </td>
                        <td>
                            <span class="label label-success">Đang vận chuyển</span>
                        </td>
                        <td>
                            @Html.ActionLink("Chi tiết", "OrderDetail", new { ID = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Chưa có đơn hàng nào đang giao cho bạn</p>
    }
</div>
<div id="DaNhan" class="tabcontent">
    @if (Model != null && Model.Where(x => x.IsReceived == true).Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Mã DĐH
                    </th>
                    <th>
                        Ngày đặt
                    </th>
                    <th>
                        Ngày giao dự kiến
                    </th>
                    <th>
                        Ưu đãi
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.IsReceived == true))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Convert.ToDateTime(item.DateOrder).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Convert.ToDateTime(item.DateShip).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer)
                        </td>
                        <td>
                            @Html.ActionLink("Chi tiết", "OrderDetail", new { ID = item.ID }, new { @class = "btn btn-info" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Chưa có đơn hàng đã nhận</p>
    }
</div>
<div id="DanhGia" class="tabcontent">
    @if (Model != null && Model.Where(x => x.IsReceived == true).Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tên SP
                    </th>
                    <th>
                        Hình ảnh
                    </th>
                    <th>
                        Nội dung
                    </th>
                    <th>
                        Sao
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{bool status = false; }
                @if (ratings.Count() > 0)
                {
                    foreach (var item in ratings)
                    {
                        if (status == false)
                        {
                            foreach (var order in Model)
                            {
                                foreach (var orderDetail in order.OrderDetails)
                                {
                                    if (orderDetail.IsRating == false)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => orderDetail.Product.Name)
                                            </td>
                                            <td>
                                                <img src="@Url.Content("~/Content/images/"+orderDetail.Product.Image1)" style="height:100px;width:100px" class="img-responsive" alt="item" />
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="label label-warning">Chưa đánh giá</span>
                                            </td>
                                            <td>
                                                <input type="button" class="btnRating" value="Đánh Giá" id="@orderDetail.ID" title="@orderDetail.ProductID">
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px solid silver">
                                            <td colspan="100"></td>
                                        </tr>
                                    }
                                }
                                status = true;
                            }
                        }
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Name)
                            </td>
                            <td>
                                <img src="@Url.Content("~/Content/images/"+item.Product.Image1)" style="height:100px;width:100px" class="img-responsive" alt="item" />
                            </td>
                            <td>
                                <span class="label label-primary">@item.Content</span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Star)
                            </td>
                            <td>
                                <span class="label label-success">Đã đánh giá</span>
                            </td>
                        </tr>

                        <tr style="border-bottom:1px solid silver">
                            <td colspan="100"></td>
                        </tr>
                    }
                }
                else
                {
                    foreach (var order in Model)
                    {
                        foreach (var orderDetail in order.OrderDetails)
                        {
                            if (orderDetail.IsRating == false)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => orderDetail.Product.Name)
                                    </td>
                                    <td>
                                        <img src="@Url.Content("~/Content/images/"+orderDetail.Product.Image1)" style="height:100px;width:100px" class="img-responsive" alt="item" />
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <span class="label label-warning">Chưa đánh giá</span>
                                    </td>
                                    <td>
                                        <input type="button" class="btnRating" value="Đánh Giá" id="@orderDetail.ID" title="@orderDetail.ProductID">
                                    </td>
                                </tr>
                                <tr style="border-bottom:1px solid silver">
                                    <td colspan="100"></td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Chưa có sản phẩm đã đánh giá</p>
    }
</div>
<div id="DaHuy" class="tabcontent">
    @if (Model != null && Model.Where(x => x.IsCancel == true).Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Mã DĐH
                    </th>
                    <th>
                        Ngày đặt
                    </th>
                    <th>
                        Ngày giao dự kiến
                    </th>
                    <th>
                        Ưu đãi
                    </th>
                    <th>
                        Tình trạng
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.IsCancel == true))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Convert.ToDateTime(item.DateOrder).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Convert.ToDateTime(item.DateShip).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer)
                        </td>
                        <td>
                            <span class="label label-info">Đã hủy</span>
                        </td>
                        <td>
                            @Html.ActionLink("Chi tiết", "OrderDetail", new { ID = item.ID }, new { @class = "btn btn-info" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Chưa có đơn hàng đã hủy</p>
    }
</div>
<div class="modal fade" id="modalRating" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Đánh Giá</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Rating", "Product", FormMethod.Post))
                {
                    <input type="text" name="ProductID" id="ID" hidden="hidden" />
                    <input type="text" name="OrderDetailID" id="OrderDetailID" hidden="hidden" />
                    <div class="form-group">
                        <label for="Name">tên sản phẩm:</label>
                        <input type="text" class="form-control" name="Name" id="Name" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label>Hình ảnh:</label>
                        <img name="Image" id="Image" style="height:200px;width:200px" />
                    </div>
                    <div class="single-rating">
                        <label>Số sao:</label>
                        <span class="starRating">
                            <input id="rating5" type="radio" name="Star" value="5" checked>
                            <label for="rating5">5</label>
                            <input id="rating4" type="radio" name="Star" value="4">
                            <label for="rating4">4</label>
                            <input id="rating3" type="radio" name="Star" value="3">
                            <label for="rating3">3</label>
                            <input id="rating2" type="radio" name="Star" value="2">
                            <label for="rating2">2</label>
                            <input id="rating1" type="radio" name="Star" value="1">
                            <label for="rating1">1</label>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="Name">Nội dung:</label>
                        <input type="text" class="form-control" name="Content" id="Content" required maxlength="200">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnSave">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>