@using ToyStore.Models;
@model User
@{ ViewBag.Title = "Thông tin tài khoản";
    Layout = "~/Views/Layout/ProductDetailsLayout.cshtml"; }
@if (TempData["ResetPassword"] != null)
{
    <script>
        swal({
            title: "Thông báo",
            text: "Đổi mật khẩu thành công!",
            icon: "success",
            timer: 3000
        });
    </script>
    @(TempData["ResetPassword"] = null)}
@if (TempData["EditName"] != null)
{
    <script>
        swal({
            title: "Thông báo",
            text: "Cập nhật tên tài khoản thành công!",
            icon: "success",
            timer: 1500
        });
    </script>
    @(TempData["DeleteHistoryView"] = null)}
@if (TempData["EditAddress"] != null)
{
    <script>
        swal({
            title: "Thông báo",
            text: "Cập nhật địa chỉ thành công!",
            icon: "success",
            timer: 1500
        });
    </script>
    @(TempData["DeleteHistoryView"] = null)}
@if (TempData["EditAvatar"] != null)
{
    <script>
        swal({
            title: "Thông báo",
            text: "Cập nhật ảnh đại diện thành công!",
            icon: "success",
            timer: 1500
        });
    </script> @(TempData["DeleteHistoryView"] = null)}
<script>
    $(document).ready(function () {
        $('.btnEditName').off('click').on('click', function () {
            var id = $(this).val();
            $('#modalUpdateName').modal('show');
            $.ajax({
                url: '/User/EditName',
                data: {
                    id: id
                },
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        $('#IDEditName').val(response.ID);
                        $('#FullNameEditName').val(response.FullName);
                    }
                    else {
                        bootbox.alert(response.message);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
        $('.btnEditAddress').off('click').on('click', function () {
            var id = $(this).val();
            $('#modalUpdateAddress').modal('show');
            $.ajax({
                url: '/User/EditAddress',
                data: {
                    id: id
                },
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        $('#IDEditAddress').val(response.ID);
                        $('#AdressEditAdress').val(response.Address);
                    }
                    else {
                        bootbox.alert(response.message);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
        $('.btnEditAvatar').off('click').on('click', function () {
            $('#modalUpdateAvatar').modal('show');
        });
    });
</script>

<!--breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="active">Sản Phẩm</li>
        </ol>
    </div>
</div>
<!--//breadcrumbs-->
<!--single-page-->
<div class="single">
    <div class="container">
        <div class="single-info">
            <div class="col-md-6 single-top wow fadeInLeft animated" data-wow-delay=".5s">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="@Url.Content("~/Content/images/" + Model.Avatar)">
                            <div class="thumb-image"> <img src="@Url.Content("~/Content/images/" + Model.Avatar)" style="height:300px;width:250px"><input type="button" class="btn btn-link btnEditAvatar" value="✎" data-id="@Model.ID" /></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 single-top-left simpleCart_shelfItem wow fadeInRight animated" data-wow-delay=".5s">
                <div class="quantity">
                    <p class="qty"> Họ tên :</p> @Model.FullName <button class="btn btn-link btnEditName" value="@Model.ID">✎</button>
                </div>
                <div class="quantity">
                    <p class="qty"> Địa chỉ :</p> @Model.Address <button class="btn btn-link btnEditAddress" value="@Model.ID">✎</button>
                </div>
                <div class="quantity">
                    <p class="qty"> Số điện thoại :</p> @Model.PhoneNumber
                </div>
                <div class="quantity">
                    <p class="qty"> Email :</p> @Model.Email
                </div>
                <div class="quantity">
                    @{ string pass = "";
                        for (int i = 0; i < @Model.Password.Length; i++)
                        {
                            pass += "☺";
                        } }
                    <p class="qty"> Mật khẩu :</p> @pass <a class="btn btn-link" href="/User/ResetPassword">✎</a>
                </div>

                <div class="quantity">
                    @Html.ActionLink("Hủy tài khoản", "DeleteAccount", null, new { @class = "btn btn-danger" })
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--//single-page-->
<div class="modal fade" id="modalUpdateName" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditName", "User", FormMethod.Post))
                {
                    <input type="text" name="ID" id="IDEditName" hidden />
                    <div class="form-group">
                        <label for="Name">Họ tên:</label>
                        <input type="text" class="form-control" name="FullName" id="FullNameEditName" pattern=".{,30}" required title="Tên tối đa 30 ký tự!">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnSave">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalUpdateAddress" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditAddress", "User", FormMethod.Post))
                {
                    <input type="text" name="ID" id="IDEditAddress" hidden />
                    <div class="form-group">
                        <label for="Name">Địa chỉ:</label>
                        <input type="text" class="form-control" name="Address" id="AdressEditAdress" pattern=".{,200}" required title="Địa chỉ tối đa 100 ký tự!">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnSave">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalUpdateAvatar" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditAvatar", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    <input type="text" name="ID" id="IDEditAvatar" hidden />
                    <div class="form-group">
                        <label>Avatar:</label>
                        <input type="file" name="Avatar" id="Avatar" required accept="image/png, image/gif, image/jpeg" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnSave">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>}
            </div>
        </div>
    </div>
</div>