@model PagedList.IPagedList<ToyStore.Models.Order>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Đơn Đặt Hàng";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
@{
    IEnumerable<ToyStore.Models.Member> customers = ViewBag.CustomerList as IEnumerable<ToyStore.Models.Member>;
}
<!--breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="active">Đơn Đặt Hàng</li>
        </ol>
    </div>
</div>
<!--//breadcrumbs-->
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Mã DĐH
                </th>
                <th>
                    Ngày đặt
                </th>
                <th>
                    Ngày giao dự kiến
                </th>
                <th>
                    Ưu đãi
                </th>
                <th>
                    Duyệt
                </th>
                <th>
                    Thanh toán
                </th>
                <th>
                    Đã nhận
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateShip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Offer)
                    </td>
                    <td>
                        @if (item.IsApproved == true)
                        {
                            <span class="label label-success">Đã duyệt</span>
                        }
                        else
                        {
                            <span class="label label-warning">Chưa duyệt</span>
                        }
                    </td>
                    <td>
                        @if (item.IsPaid == true)
                        {
                            <span class="label label-success">Đã thanh toán</span>
                        }
                        else
                        {
                            <span class="label label-danger">Chưa thanh toán</span>
                        }
                    </td>
                    <td>
                        @if (item.IsReceived == true)
                        {
                            <span class="label label-success">Đã nhận</span>
                        }
                        else
                        {
                            <span class="label label-danger">Chưa nhận</span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Chi tiết", "OrderDetail", new { ID = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div id='Paging' style="text-align: center">
        @Html.PagedListPager(Model, page => Url.Action("CheckoutOrder", new { page }))
    </div>
}
else
{
    <p>Bạn chưa có đơn hàng</p>
}