@using ToyStore.Models;
@model Order
@{
    ViewBag.Title = "Đơn Đặt Hàng Đã Duyệt";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="ChiTietDonDang table" id="q">
        @{ IEnumerable<OrderDetail> ListOrderDetail = (IEnumerable<OrderDetail>)ViewBag.ListOrderDetail;}
        <table class="table" id="table">
            @*Phần thông tin đơn hàng*@
            <tr>
                <td colspan="4">
                    <table style="width:100%;">
                        <tr>
                            @*<td>Mã đơn hàng: <b style="color:red;">@Model.ID @Html.Hidden("ID", Model.ID)</b></td>
                            <td>Mã khách hàng: <b style="color:red;">@Model.CustomerID</b></td>
                            <td>Tên khách hàng: <b style="color:red;">@Model.KhachHang.TenKH</b></td>
                            <td>Ngày đặt: @Model.DateOrder.Value.ToString("dd/MM/yyyy")</td>
                            <td>Đã thanh toán: @Html.EditorFor(model => model.IsPaid)</td>
                            <td>Đã giao: @Html.EditorFor(model => model.IsDelivere)</td>*@
                        </tr>
                    </table>
                </td>
            </tr>
            @*Phần thông tin chi tiết đơn hàng*@
            <tr>
                <td><b>Sản phẩm</b></td>
                <td><b>Hình ảnh</b></td>
                <td><b>Số lượng đặt</b></td>
                <td><b>Đơn giá đặt</b></td>
            </tr>
            @foreach (var item in ListOrderDetail)
            {
                <tr>
                    <td>@item.ProductID</td>
                    <td><img width="50" height="100" src="@Url.Content("~/Content/images/"+item.Product.Image1)" /></td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                </tr>
            }
            @*<tr>
                <td align="right" colspan="4">Tổng số lượng: @Model.Order.Sum(n => n.Q) sản phẩm</td>
            </tr>
            <tr>
                <td align="right" colspan="4">Tổng tiền: @Model.ChiTietDonDatHangs.Sum(n => n.SanPham.DonGia * n.SoLuong).Value.ToString("#,##") đồng</td>
            </tr>*@
        </table>
    </div>
    <br />
    <input type="button" name="name" value="In đơn hàng" id="btnInDonHang" />
    <input type="submit" name="name" value="Lưu đơn hàng" id="btnLuuDonHang" />
}

<script>
    $("#btnInDonHang").click(function () {
        //lấy nội dung của thẻ html với id = q
        var content = $("#q").html();
        InDonHang(content);
    });

    //Phương thức in
    function InDonHang(content) {
        var printWindow = window.open('', '', 'height=400', 'width=800');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body>');
        printWindow.document.write(content);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }
</script>