@using ToyStore.Models
@model Product
@{
    IEnumerable<QA> qAs = ViewBag.QAList as IEnumerable<QA>;
    IEnumerable<Member> members = ViewBag.MemberList as IEnumerable<Member>;
}

<hr />
@foreach (var item in qAs
    .Join(members, c => c.MemberID, m => m.ID, (c, m) => new { c, m })
    .Select(n => new { FullName = n.m.FullName, Question = n.c.Question, Answer = n.c.Answer, DateQuesion = n.c.DateQuestion, DateAnswer = n.c.DateAnswer }))
{
    <p><label style="color:black">@item.FullName:</label>  @item.DateQuesion</p>
    <p style="color:black">@item.Question</p>
    <p><label style="color:black">Nguyễn Văn A (Nhân viên tư vấn):</label>  @item.DateAnswer</p>
    <p style="color:black">@item.Answer</p>
}
<hr />
