@using ToyStore.Models;
@model Product
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Layout/ProductDetailsLayout.cshtml";
}
@{
    IEnumerable<Product> products = ViewBag.ListProduct as IEnumerable<Product>;
    IEnumerable<Comment> comments = ViewBag.CommentList as IEnumerable<Comment>;
    IEnumerable<QA> qAs = ViewBag.CommentQA as IEnumerable<QA>;
    IEnumerable<Member> members = ViewBag.MemberList as IEnumerable<Member>;
    IEnumerable<Emloyee> emloyees = ViewBag.ListEmloyee as IEnumerable<Emloyee>;
    Member member = Session["Member"] as Member;
    int counter = 1;
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    $(document).ready(function () {
        $('#Textarea1').change(function () {
            $('#content').val($(this).val());
        });
        $('#Textarea2').change(function () {
            $('#content2').val($(this).val());
        });
        $(".btnPost").on("click", function () {
            $("#Textarea1").val("");
            $("#Textarea2").val("");
        });
    });
</script>
<!--banner-->
<div class="banner" hidden="hidden">
    <div class="container">
        <div class="banner-text">
            <div class="col-sm-5 banner-left wow fadeInLeft animated" data-wow-delay=".5s">
                <h2>Chương Trình Ưu Đãi Đặc Biệt</h2>
                <h3>Sắp diễn ra </h3>
                <h4>Sẽ bắt đầu sau</h4>
                <div class="count main-row">
                    <ul id="example">
                        <li><span class="hours">00</span><p class="hours_text">Hours</p></li>
                        <li><span class="minutes">00</span><p class="minutes_text">Minutes</p></li>
                        <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
                    </ul>
                    <div class="clearfix"> </div>
                    <script type="text/javascript" src="~/Content/js/jquery.countdown.min.js"></script>
                    <script type="text/javascript">
                        $('#example').countdown({
                            date: '12/24/2020 15:59:59',
                            offset: -8,
                            day: 'Day',
                            days: 'Days'
                        }, function () {
                            //alert('Done!');
                        });
                    </script>
                </div>

            </div>
            <div class="col-sm-7 banner-right wow fadeInRight animated" data-wow-delay=".5s">
                <section class="slider grid">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <h4>-30%</h4>
                                <img src="~/Content/images/b1.png" alt="">
                            </li>
                            <li>
                                <h4>-25%</h4>
                                <img src="~/Content/images/b2.png" alt="">
                            </li>
                            <li>
                                <h4>-32%</h4>
                                <img src="~/Content/images/b3.png" alt="">
                            </li>
                        </ul>
                    </div>
                </section>
                <!--FlexSlider-->
                <script defer src="~/Content/js/jquery.flexslider.js"></script>
                <script type="text/javascript">
                    $(window).load(function () {
                        $('.flexslider').flexslider({
                            animation: "pagination",
                            start: function (slider) {
                                $('body').removeClass('loading');
                            }
                        });
                    });
                </script>
                <!--End-slider-script-->
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--//banner-->
<!--breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="active">Sản Phẩm</li>
        </ol>
    </div>
</div>
<!--//breadcrumbs-->
<!--single-page-->
<div class="single">
    <div class="container">
        <div class="single-info">
            <div class="col-md-6 single-top wow fadeInLeft animated" data-wow-delay=".5s">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="@Url.Content("~/Content/images/"+Model.Image1)">
                            <div class="thumb-image"> <img src="@Url.Content("~/Content/images/"+Model.Image1)" data-imagezoom="true" class="img-responsive" alt=""> </div>
                        </li>
                        @if (Model.Image2 != null)
                        {
                            <li data-thumb="@Url.Content("~/Content/images/"+Model.Image2)">
                                <div class="thumb-image"> <img src="@Url.Content("~/Content/images/"+Model.Image2)" data-imagezoom="true" class="img-responsive" alt=""> </div>
                            </li>
                        }
                        @if (Model.Image3 != null)
                        {
                            <li data-thumb="@Url.Content("~/Content/images/"+Model.Image3)">
                                <div class="thumb-image"> <img src="@Url.Content("~/Content/images/"+Model.Image3)" data-imagezoom="true" class="img-responsive" alt=""> </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-6 single-top-left simpleCart_shelfItem wow fadeInRight animated" data-wow-delay=".5s">
                <h3>@Model.Name</h3>
                <div class="single-rating">
                    <span class="starRating">
                        <input id="rating5" type="radio" name="rating" value="5" checked>
                        <label for="rating5">5</label>
                        <input id="rating4" type="radio" name="rating" value="4">
                        <label for="rating4">4</label>
                        <input id="rating3" type="radio" name="rating" value="3">
                        <label for="rating3">3</label>
                        <input id="rating2" type="radio" name="rating" value="2">
                        <label for="rating2">2</label>
                        <input id="rating1" type="radio" name="rating" value="1">
                        <label for="rating1">1</label>
                    </span>
                    <p>5.00 / 5</p>
                    <a href="#">Đánh giá sau khi mua hàng</a>
                </div>
                <p class="pric1"><del>@Model.Price.ToString("#,##")₫</del></p>
                <h6 class="item_price">@Model.PromotionPrice.Value.ToString("#,##")₫</h6>
                <div class="clearfix"> </div>
                <div class="quantity">
                    <p class="qty"> Thương Hiệu :</p> @ViewBag.ProducerName
                </div>
                <div class="quantity">
                    <p class="qty"> Nhà Cung Cấp :</p> @ViewBag.SupplierName
                </div>
                <div class="quantity">
                    <p class="qty"> Lứa Tuổi :</p> @ViewBag.Age
                </div>
                <div class="quantity">
                    <p class="qty"> Kho :</p> @Model.Quantity
                </div>
                <div class="quantity">
                    <p class="qty"> Đã bán :</p> 0
                </div>
                <p>Etiam faucibus viverra libero vel efficitur. Ut semper nisl ut laoreet ultrices. Maecenas dictum arcu purus, sit amet volutpat purus viverra sit amet. Quisque lacinia quam sed tortor interdum, malesuada congue nunc ornare. Cum sociis natoque penatibus et magnis dis parturient montes</p>
                <div class="btn_form">
                    <a href="@Url.Action("AddItemCart","Cart",new {ID=Model.ID,@strURL=Request.Url.ToString()})" class="add-cart item_add">THÊM VÀO GIỎ</a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!--collapse-tabs-->
        <div class="collpse tabs">
            <div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default wow fadeInUp animated" data-wow-delay=".5s">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Mô tả
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            @Model.Description
                        </div>
                    </div>
                </div>
                <div class="panel panel-default wow fadeInUp animated" data-wow-delay=".6s">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Đánh Giá (5)
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                    <div class="panel panel-default wow fadeInUp animated" data-wow-delay=".7s">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                @if (qAs.Count() > 0)
                                {
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Hỏi Đáp (@qAs.Count())
                                    </a>
                                }
                                else
                                {
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Hỏi Đáp
                                    </a>
                                }
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                @if (Session["Member"] != null)
                                {
                                    using (Ajax.BeginForm("AddQuestion", "Product", new AjaxOptions
                                    {
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "GET",
                                        LoadingElementId = "ajax-loader",
                                        UpdateTargetId = "qaContainer",

                                    }))
                                    {
                                        <input value="@member.ID" hidden="hidden" name="memberID" />
                                        <input value="@Model.ID" hidden="hidden" name="productID" />
                                        <div class="form-group mx-sm-3 mb-2">
                                            <label for="inputPassword2" class="sr-only">Nội dung câu hỏi</label>
                                            <textarea class="form-control" id="Textarea2" style="resize:none" rows="3"></textarea>
                                        </div>
                                        <input type="text" name="Question" id="content2" hidden="hidden" />
                                        <button type="submit" class="btn btn-warning btnPost">Đăng Câu Hỏi</button>
                                        <img id="ajax-loader"
                                             src="@Url.Content("~/Content/images/loading.gif")"
                                             style="display:none" />

                                    }
                                    <div class="ajax-loader"></div>
                                }
                                else
                                {
                                    <a class="btn btn-warning btnPost" href="@Url.Action("SignIn","Home")">Đăng nhập để đăng câu hỏi</a>
                                }
                                <div id="qaContainer">
                                    <hr />
                                    @foreach (var item in qAs
                                        .Join(members, c => c.MemberID, m => m.ID, (c, m) => new { c, m })
                                        .Join(emloyees, e => e.c.EmloyeeID, n => n.ID, (e, n) => new { e, n })
                                        .Select(n => new { EmloyeeName = n.n.FullName, FullName = n.e.m.FullName, Question = n.e.c.Question, Answer = n.e.c.Answer, DateQuesion = n.e.c.DateQuestion, DateAnswer = n.e.c.DateAnswer }))
                                    {
                                        <p><label style="color:black">@item.FullName:</label>  @item.DateQuesion</p>
                                        <p style="color:black">@item.Question</p>
                                        if (item.Answer != null)
                                        {
                                            <div style="background-color:lightgray">
                                                <p><label style="color:brown">@item.EmloyeeName  <span class="label label-warning">Quản trị viên</span> </label>  @item.DateAnswer</p>
                                                <p style="color:black">@item.Answer</p>
                                            </div>
                                        }
                                        <hr />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default wow fadeInUp animated" data-wow-delay=".8s">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                @if (comments.Count() > 0)
                                {
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Bình Luận (@comments.Count())
                                    </a>
                                }
                                else
                                {
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Bình Luận
                                    </a>
                                }
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                @if (Session["Member"] != null)
                                {
                                    using (Ajax.BeginForm("AddComment", "Product", new AjaxOptions
                                    {
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "GET",
                                        LoadingElementId = "ajax-loader",
                                        UpdateTargetId = "commentContainer",

                                    }))
                                    {
                                        <input value="@member.ID" hidden="hidden" name="memberID" />
                                        <input value="@Model.ID" hidden="hidden" name="productID" />
                                        <div class="form-group mx-sm-3 mb-2">
                                            <label for="inputPassword2" class="sr-only">Nội dung</label>
                                            <textarea class="form-control" id="Textarea1" style="resize:none" rows="3"></textarea>
                                        </div>
                                        <input type="text" name="content" id="content" hidden="hidden" />
                                        <button type="submit" class="btn btn-warning btnPost">Đăng Bình Luận</button>
                                        <img id="ajax-loader"
                                             src="@Url.Content("~/Content/images/loading.gif")"
                                             style="display:none" />
                                    }
                                    <div class="ajax-loader"></div>
                                }
                                else
                                {
                                    <a class="btn btn-warning btnPost" href="@Url.Action("SignIn","Home")">Đăng nhập để đăng bình luận</a>
                                }
                                <div id="commentContainer">
                                    <hr />
                                    @foreach (var item in comments
                                        .Join(members, c => c.MemberID, m => m.ID, (c, m) => new { c, m })
                                        .Select(n => new { FullName = n.m.FullName, Content = n.c.Content, Date = n.c.Date }))
                                    {
                                        <label style="color:black">@item.FullName</label> @item.Date
                                        <p style="color:black">@item.Content</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!--//collapse -->
        <!--related-products-->
        <div class="related-products">
            <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
                <h3 class="title">Sản Phẩm<span> Cùng Loại</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit curabitur </p>
            </div>
            <div class="related-products-info">
                @foreach (var item in products)
                {
                    if (counter == 1)
                    {
                        <div class="col-md-3 new-grid simpleCart_shelfItem wow flipInY animated" data-wow-delay=".5s">
                            <div class="new-top">
                                <a href="single.html"><img src="@Url.Content("~/Content/images/"+item.Image1)" style="height:250px;width:300px" class="img-responsive" alt="" /></a>
                                <div class="new-text">
                                    <ul>
                                        <li><a class="item_add" href="@Url.Action("AddItemCart","Cart",new {ID=item.ID,@strURL=Request.Url.ToString()})"> Thêm Vào Giỏ</a></li>
                                        <li><a href="single.html">Xem Chi Tiết </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="new-bottom">
                                <h5><a class="name" href="single.html" style="width: 200px;display: inline-block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">@item.Name </a></h5>
                                <div class="rating">
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span>☆</span>
                                </div>
                                <div class="ofr">
                                    <p class="pric1"><del>@item.Price.ToString("#,##")₫</del></p><br />
                                    <p><span class="item_price">@item.PromotionPrice.Value.ToString("#,##")₫</span></p>
                                </div>
                            </div>
                        </div>
                        counter++;
                    }
                    else if (counter == 2)
                    {
                        <div class="col-md-3 new-grid new-mdl simpleCart_shelfItem wow flipInY animated" data-wow-delay=".7s">
                            <div class="new-top">
                                <a href="single.html"><img src="@Url.Content("~/Content/images/"+item.Image1)" style="height:250px;width:300px" class="img-responsive" alt="" /></a>
                                <div class="new-text">
                                    <ul>
                                        <li><a class="item_add" href="@Url.Action("AddItemCart","Cart",new {ID=item.ID,@strURL=Request.Url.ToString()})"> Thêm Vào Giỏ</a></li>
                                        <li><a href="single.html">Xem Chi Tiết </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="new-bottom">
                                <h5><a class="name" href="single.html" style="width: 200px;display: inline-block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">@item.Name </a></h5>
                                <div class="rating">
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span>☆</span>
                                </div>
                                <div class="ofr">
                                    <p class="pric1"><del>@item.Price.ToString("#,##")₫</del></p><br />
                                    <p><span class="item_price">@item.PromotionPrice.Value.ToString("#,##")₫</span></p>
                                </div>
                            </div>
                        </div>
                        counter++;
                    }
                    else if (counter == 3)
                    {<div class="col-md-3 new-grid new-mdl1 simpleCart_shelfItem wow flipInY animated" data-wow-delay=".9s">
                            <div class="new-top">
                                <a href="single.html"><img src="@Url.Content("~/Content/images/"+item.Image1)" style="height:250px;width:300px" class="img-responsive" alt="" /></a>
                                <div class="new-text">
                                    <ul>
                                        <li><a class="item_add" href="@Url.Action("AddItemCart","Cart",new {ID=item.ID,@strURL=Request.Url.ToString()})"> Thêm Vào Giỏ</a></li>
                                        <li><a href="single.html">Xem Chi Tiết </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="new-bottom">
                                <h5><a class="name" href="single.html" style="width: 200px;display: inline-block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">@item.Name </a></h5>
                                <div class="rating">
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span>☆</span>
                                </div>
                                <div class="ofr">
                                    <p class="pric1"><del>@item.Price.ToString("#,##")₫</del></p><br />
                                    <p><span class="item_price">@item.PromotionPrice.Value.ToString("#,##")₫</span></p>
                                </div>
                            </div>
                        </div>
                        counter++;
                    }
                    else if (counter == 4)
                    {
                        <div class="col-md-3 new-grid simpleCart_shelfItem wow flipInY animated" data-wow-delay="1.1s">
                            <div class="new-top">
                                <a href="single.html"><img src="@Url.Content("~/Content/images/"+item.Image1)" style="height:250px;width:300px" class="img-responsive" alt="" /></a>
                                <div class="new-text">
                                    <ul>
                                        <li><a class="item_add" href="@Url.Action("AddItemCart","Cart",new {ID=item.ID,@strURL=Request.Url.ToString()})"> Thêm Vào Giỏ</a></li>
                                        <li><a href="single.html">Xem Chi Tiết </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="new-bottom">
                                <h5><a class="name" href="single.html" style="width: 200px;display: inline-block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">@item.Name </a></h5>
                                <div class="rating">
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span>☆</span>
                                </div>
                                <div class="ofr">
                                    <p class="pric1"><del>@item.Price.ToString("#,##")₫</del></p><br />
                                    <p><span class="item_price">@item.PromotionPrice.Value.ToString("#,##")₫</span></p>
                                </div>
                            </div>
                        </div>
                        break;
                    }
                }
                <div class="clearfix"> </div>
            </div>
        </div>
        <!--//related-products-->
    </div>
</div>
<!--//single-page-->
