@model PagedList.IPagedList<ToyStore.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh mục gốc";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<div class="product-sec1">
    <h3 class="heading-tittle">@ViewBag.Name</h3>
    @foreach (var item in Model)
    {
        <div class="col-md-3 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
                <div class="men-thumb-item">
                    <img src="@Url.Content("~/Content/images/"+item.Image1)" alt="" style="width:150px;height:150px">
                    <div class="men-cart-pro">
                        <div class="inner-men-cart-pro">
                            <a href="@Url.Action("Details","Product",new { id=item.ID})" class="link-product-add-cart">Xem chi tiết</a>
                        </div>
                    </div>
                    @if (item.IsNew)
                    {
                        <span class="product-new-top">Mới</span>
                    }
                </div>
                <div class="item-info-product ">
                    <h4>
                        <a href="single.html">@item.Name</a>
                    </h4>
                    <div class="info-product-price">
                        <span class="item_price">@item.PromotionPrice.ToString() ₫</span>
                        <del>@item.Price ₫</del>
                    </div>
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                        <form action="#" method="post">
                            <fieldset>
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="business" value=" " />
                                <input type="hidden" name="item_name" value="Almonds, 100g" />
                                <input type="hidden" name="amount" value="149.00" />
                                <input type="hidden" name="discount_amount" value="1.00" />
                                <input type="hidden" name="currency_code" value="USD" />
                                <input type="hidden" name="return" value=" " />
                                <input type="hidden" name="cancel_return" value=" " />
                                <input type="submit" name="submit" value="Chọn mua" class="button" />
                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    }
    <div class="clearfix"></div>
    <br />
    <div id='Paging' style="text-align: right">
        @Html.PagedListPager(Model, page => Url.Action("ProductCategoryParent", new { ID = ViewBag.productCategoryParentID, page }))
    </div>
</div>