@model PagedList.IPagedList<ToyStore.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<div class="side-bar col-md-3">
    <div class="search-hotel">
        <div class="left-side">
            @Ajax.ActionLink("Tìm kiếm", "Search1", "Product", new { keyword = "Chiến binh" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "ProductContainer", InsertionMode = InsertionMode.Replace }, null)
        </div>
        <div class="left-side">
            <h3 class="agileits-sear-head">Mức giá</h3>
            <ul>
                <li>
                    <input type="checkbox" class="checked" id="ck1">
                    <span class="span">Dưới 200,000</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">200,000 - 500,000</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">500,000 - 1,000,000</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">1,000,000 - 1,500,000</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">Trên 1,500,000</span>
                </li>
            </ul>
        </div>
        <div class="left-side">
            <h3 class="agileits-sear-head">Khuyến mãi</h3>
            <ul>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">5% trở lên</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">10% trở lên</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">20% trở lên</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">30% trở lên</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">50% trở lên</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">60% trở lên</span>
                </li>
            </ul>
        </div>
        <div class="left-side">
            <h3 class="agileits-sear-head">Độ tuổi</h3>
            <ul>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">0-12 tháng</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">1-3 tuổi</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">4-6 tuổi</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">6-11 tuổi</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">12 tuổi trở lên</span>
                </li>
            </ul>
        </div>
        <div class="customer-rev left-side">
            <h3 class="agileits-sear-head">Khách hàng đánh giá</h3>
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <span>5.0</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>4.0</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>3.5</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>3.0</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>2.5</span>
                    </a>
                </li>
            </ul>
        </div>
        @{
            IEnumerable<ToyStore.Models.Product> products = ViewBag.ListProduct;
        }
        <div class="deal-leftmk left-side">
            <h3 class="agileits-sear-head">Sản phẩm vừa xem</h3>
            @foreach (var item in products)
            {
                <div class="special-sec1">
                    <div class="col-xs-4 img-deals">
                        <img src="@Url.Content("~/Content/images/"+@item.Image1)" alt="" style="width:70px;height:70px">
                    </div>
                    <div class="col-xs-8 img-deal1">
                        <h3>@item.Name</h3>
                        <a href="single.html">@item.PromotionPrice ₫</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
    </div>
</div>
<div class="product-sec1" id="ProductContainer">
    <h3 class="heading-tittle">@ViewBag.Name</h3>
    @foreach (var item in Model)
    {
        @Html.Action("ProductPartial", "Product", new { product = item })
    }
    <div class="clearfix"></div>
    <br />
    <div id='Paging' style="text-align: right">
        @Html.PagedListPager(Model, page => Url.Action("Search", new { ID = ViewBag.Keyword, page }))
    </div>
</div>