@model IEnumerable<ToyStore.Models.ProductCategory>

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Danh sách sản phẩm</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdatedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @if (item.IsActive == true)
                {
                    <input type="checkbox" checked="checked" />
                }
                else
                {
                    <input type="checkbox"/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedDate)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "EditProductCategory", new { id = item.ID }) |
                @Html.ActionLink("Chi tiết", "DetailsProductCategory", new { id = item.ID }) |
                @Html.ActionLink("Xóa", "DeleteProductCategory", new { id = item.ID })
            </td>
        </tr>
    }

</table>
