@using ToyStore.Models;
@model Product
@{
    IEnumerable<Comment> comments = ViewBag.CommentList as IEnumerable<Comment>;
    IEnumerable<Member> members = ViewBag.MemberList as IEnumerable<Member>;
    Member member = Session["Member"] as Member;
}
<div class="panel-body" id="commentContainer">
    @using (Html.BeginForm("AddComment", "Product", FormMethod.Get))
    {
        <input value="@member.ID" hidden="hidden" name="memberID" />
        <input value="@Model.ID" hidden="hidden" name="productID" />
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Nội dung</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" style="resize:none" name="content" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-warning btnPost">Đăng Bình Luận</button>
        </form>
    }
    <hr />
    @foreach (var item in comments
        .Join(members, c => c.MemberID, m => m.ID, (c, m) => new { c, m })
        .Select(n => new { FullName = n.m.FullName, Content = n.c.Content, Date = n.c.Date }))
    {
        <label style="color:black">@item.FullName</label> @item.Date
        <p style="color:black">@item.Content</p>
    }
</div>
