<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- for-mobile-apps -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="keywords" content="Modern Shoppe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link rel="icon" href="@Url.Content("~/Content/images/icon.jpg")" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//for-mobile-apps -->
    <!--Custom Theme files -->
    <link href="~/Content/home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/home/css/flexslider.css" type="text/css" media="screen" />
    <!--//Custom Theme files -->
    <!--js-->
    <script src="~/Content/home/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/home/js/modernizr.custom.js"></script>
    <!--//js-->
    <!--cart-->
    <script src="~/Content/home/js/simpleCart.min.js"></script>
    <script src="~/Content/home/js/jquery.countdown.min.js"></script>
    <script src="~/Content/home/js/jquery.flexslider.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
    <!--cart-->
    <!--web-fonts-->
    @*<link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=M PLUS Rounded 1c' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Fascinate' rel='stylesheet' type='text/css'>*@
    <!--web-fonts-->
    <!--animation-effect-->
    <link href="~/Content/home/css/animate.min.css" rel="stylesheet">
    <script src="~/Content/home/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//animation-effect-->
    <!--start-smooth-scrolling-->
    <script type="text/javascript" src="~/Content/home/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/home/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <link href="~/Content/chatbox.css" rel="stylesheet" />
    <script src="~/Content/chatbox.js"></script>

    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>

    <script src="~/Content/notify.min.js"></script>
    <!--//end-smooth-scrolling-->
</head>
<body>
    @Html.Partial("~/Views/Home/HeaderTopPartial.cshtml")
    @RenderBody()
    <div class="row">
        <div class="chatbox chatbox22 chatbox--tray">
            <div class="chatbox__title">
                <h5><a href="javascript:void()">Chat với chúng tôi</a></h5>
                <!--<button class="chatbox__title__tray">
                    <span></span>
                </button>-->
                <button class="chatbox__title__close">
                    <span>
                        <svg viewBox="0 0 12 12" width="12px" height="12px">
                            <line stroke="#FFFFFF" x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                            <line stroke="#FFFFFF" x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
                        </svg>
                    </span>
                </button>
            </div>
            @if (Session["User"] == null)
            {
                <div class="chatbox__body">
                    <h5>Vui lòng đăng nhập để chat</h5>
                </div>
            }
            else
            {
                <div class="chatbox__body">

                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" required class="form-control input-sm chat_set_height" placeholder="Soạn tin nhắn..." tabindex="0" dir="ltr" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" contenteditable="true" />
                        <span class="input-group-btn">
                            <button class="btn bt_bg btn-sm" id="btn-chat">
                                Gửi
                            </button>
                            <img src="~/Content/images/loading-send.gif" class="loading-send btn bt_bg btn-sm" style="display:none;" />
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="footer-info">
                <div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".5s">
                    <h4 class="footer-logo"><a href="index.html">Toy<b>Store</b> <span class="tag">Tất cả mọi thứ bé cần </span> </a></h4>
                </div>
                <div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".7s">
                    <h3>Thông Tin</h3>
                    <ul>
                        <li><a href="about.html">Giới Thiệu</a></li>
                        <li><a href="products.html">Tin Tức</a></li>
                        <li><a href="contact.html">Liên Hệ</a></li>
                        <li><a href="faq.html">Hỏi Đáp</a></li>
                        <li><a href="checkout.html">Vị Trí</a></li>
                    </ul>
                </div>
                <div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".9s">
                    <h3>Đăng Ký</h3>
                    <p>Đăng ký ngay để nhận được nhiều ưu đãi</p>
                    <form>
                        <input type="text" placeholder="Nhập vào Email" required="">
                        <input type="submit" value="Bắt đầu">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    </div>
    <!--//footer-->
    <!--search jQuery-->
    <script src="~/Content/home/js/main.js"></script>
    <!--//search jQuery-->
    <!--smooth-scrolling-of-move-up-->
    <script type="text/javascript">
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };

            $().UItoTop({ easingType: 'easeOutQuart' });

            $(function () {
                var chat = $.connection.chatHubs

                chat.client.displayMessage = function () {
                    getAllData();
                }

                $.connection.hub.start();
                getAllData();
            })

            var lastMessID = 0;

            function getAllData() {
                var chatbox = $('.chatbox__body');
                var userID = $('#UserID').val();
                $.ajax({
                    url: location.origin + "/Chat/GetAllMessageChating?UserID=" + userID,
                    type: 'GET',
                    dataType: 'JSON',
                    success: function (data) {
                        chatbox.empty()
                        if (data.length > 0) {
                            $.each(data, function (i, model) {
                                var date = new Date(parseInt(model.CreatedDate.substr(6)));
                                if (model.FromUserID == userID) {
                                    lastMessID = model.ID;
                                    chatbox.append(
                                        '<div class="chatbox__body__message chatbox__body__message--right" id="' + model.ID + '"' + '>' +
                                        ' <div class="chatbox_timing">' +
                                        '<ul>' +
                                        '<li>' + date.getHours() + ':' + date.getMinutes() + '</li>' +
                                        '</ul>' +
                                        '</div>' +
                                        '<img src="/Content/images/' + model.FromAvatarUser + '" alt="Picture">' +
                                        '<div class="clearfix"></div>' +
                                        ' <div class="ul_section_full">' +
                                        ' <ul class="ul_msg">' +
                                        '<li><strong>' + model.FromUserName + '</strong></li>' +
                                        '<li>' + model.Content + '</li>' +
                                        '</ul>' +
                                        '<div class="clearfix"></div>' +
                                        '</div>' +
                                        '</div>'
                                    );
                                } else {
                                    chatbox.append(
                                        '<div class="chatbox__body__message chatbox__body__message--left" id="' + model.ID + '"' + '>' +
                                        ' <div class="chatbox_timing">' +
                                        '<ul>' +
                                        '<li>' + date.getHours() + ':' + date.getMinutes() + '</li>' +
                                        '</ul>' +
                                        '</div>' +
                                        '<img src="/Content/images/' + model.FromAvatarUser + '" alt="Picture">' +
                                        '<div class="clearfix"></div>' +
                                        ' <div class="ul_section_full">' +
                                        ' <ul class="ul_msg">' +
                                        '<li><strong>' + model.FromUserName + '</strong></li>' +
                                        '<li>' + model.Content + '</li>' +
                                        '</ul>' +
                                        '<div class="clearfix"></div>' +
                                        '</div>' +
                                        '</div>'
                                    );
                                }
                            })
                        } else {
                            chatbox.append(
                                '<p>Chưa có tin nhắn...</p>'
                            );
                        }
                    }
                })

                $(".chatbox__body").animate({ scrollTop: 2000000 });
            }


            $('#btn-chat').click(function send() {
                var fromId = $('#UserID').val();
                var content = $('#btn-input').val();
                $.ajax({
                    url: location.origin + "/Chat/Send",
                    data: { FromUserID: fromId, ToUserID: 3, Content: content, Side: "Client" },
                    type: 'POST',
                    dataType: 'JSON',
                    success: function (data) {
                        if (data.status) {
                            $.notify("Đã gửi!", "success");
                            $("#btn-chat").show();
                            $(".loading-send").hide();
                            $('#btn-input').val("");
                            $(".chatbox__body").animate({ scrollTop: 2000000 });
                        } else {
                            $.notify("Có lỗi xảy ra!", "error");
                            return;
                        }
                    }
                })
                $("#btn-chat").hide();
                $(".loading-send").show();
            })
        });
    </script>
    <!--//smooth-scrolling-of-move-up-->
    <!--Bootstrap core JavaScript
    ================================================== -->
    <!--Placed at the end of the document so the pages load faster -->
    <script src="~/Content/home/js/bootstrap.js"></script>
</body>
</html>