@{
    ViewBag.Title = "Chọn hình thức thống kê";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<script src="~/Scripts/bootbox.js"></script>
<script>
    $(document).ready(function () {
        $('#btnSupplier').off('click').on('click', function () {
            $('#modalSupplier').modal('show');
        });
    });
    $(window).load(function () {
        $('#modalSupplier').modal('show');
    });
</script>
<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            <h2>Thống Kê</h2>
            <input type="button" class="btn btn-success" value="Chọn Hình Thức Thống Kê" id="btnSupplier" />
        </div>
    </div>
</div>
<div class="modal fade" id="modalSupplier" role="dialog">
    <div class="modal-dialog">

        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chọn Hình Thức Thống Kê</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ImportProductBySupplierID", "ImportProductManage", FormMethod.Get))
                {
                    <div class="form-group">
                        <label>Hình Thức Thống Kê:</label>
                        <br />
                        <a href="@Url.Action("StatisticStocking","StatisticManage")" class="btn btn-default">Tồn kho</a><br />
                        <a href="@Url.Action("StatisticSupplier","StatisticManage")" class="btn btn-default">Nhà cung cấp tốt nhất</a><br />
                        <a href="@Url.Action("StatisticProductSold","StatisticManage",new { from=DateTime.Now,to=DateTime.Now})" class="btn btn-default">Sản phẩm bán chạy</a><br />
                        <a href="@Url.Action("StatisticOrder","StatisticManage",new { from=DateTime.Now,to=DateTime.Now})" class="btn btn-default">Đơn đặt hàng</a><br />
                        <a href="@Url.Action("StatisticAccessTime","StatisticManage",new { from=DateTime.Now,to=DateTime.Now})" class="btn btn-default">Lượt truy cập</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
