@model IEnumerable<ToyStore.Models.Order>

@{
    ViewBag.Title = "Thống kê đơn đặt hàng";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/bootbox.js"></script>



<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index")">Trang chủ</a> <i class="fa fa-angle-right"></i></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index")">Chọn hình thức thống kê</a> <i class="fa fa-angle-right"></i></li>
    <li class="breadcrumb-item"><a href="@Url.Action("List")">Thống kê đơn đặt hàng</a> <i class="fa fa-angle-right"></i></li>
</ol>

<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            <h2>Danh sách đơn đặt hàng</h2>
            <form action="/StatisticManage/StatisticOrder" method="get">
                Từ: <input type="date" name="from" value="@ViewBag.from.ToString("yyyy-MM-dd")" required/>
                Đến: <input type="date" name="to" value="@ViewBag.to.ToString("yyyy-MM-dd")" required/>
                <input type="submit" value="Xem" class="btn btn-info" />
            </form>
            <ul class="bt-list">
                <li><a href="@Url.Action("DownloadExcelStatisticOrder","StatisticManage",new { from=ViewBag.from,to=ViewBag.to})" class="hvr-icon-up col-24" style="background-color:green" id="btnAddNew">Xuất Excel</a></li>
            </ul>
            @if (Model != null)
            {
                if (Model.Count() > 0)
                {

                    <table id="table">
                        <thead>
                            <tr>
                                <th>
                                    Mã hóa đơn
                                </th>
                                <th>
                                    Tên khách hàng
                                </th>
                                <th>
                                    Ngày đặt
                                </th>
                                <th>
                                    Ngày giao
                                </th>
                                <th>
                                    Ưu đãi
                                </th>
                                <th>
                                    Tình trạng
                                </th>
                                <th>
                                    Thành tiền
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @Html.Hidden(item.ID.ToString())
                                <tr>
                                    <td>
                                        <b>@Html.DisplayFor(modelItem => item.ID)</b>
                                    </td>
                                    <td style="color:brown">
                                        <b>@Html.DisplayFor(modelItem => item.User.FullName)</b>
                                    </td>
                                    <td>
                                        <b>@Convert.ToDateTime(item.DateOrder).ToString("dd/MM/yyyy")</b>
                                    </td>
                                    <td>
                                        <b>@Convert.ToDateTime(item.DateShip).ToString("dd/MM/yyyy")</b>
                                    </td>
                                    <td>
                                        <b>@Html.DisplayFor(modelItem => item.Offer)</b>
                                    </td>
                                    <td>
                                        @if (item.IsPaid != true)
                                        {
                                            <span class="label label-danger">Chưa thanh toán</span>
                                        }
                                        else
                                        {
                                            <span class="label label-success">Hoàn thành</span>
                                        }
                                    </td>
                                    <td>
                                        <b>@Html.DisplayFor(modelItem => item.Total)</b>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span>Không có dữ liệu...</span>
                }
            }
            else
            {
                <span>Không có dữ liệu...</span>
            }
        </div>
    </div>
</div>