@model PagedList.IPagedList<ToyStore.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = ViewBag.StatisticTypeName;
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script>
    //$(document).ready(function () {
    //    $('#btnAddNew').off('click').on('click', function () {
    //        $('#modalAdd').modal('show');
    //    });
    //    $('.btnEdit').off('click').on('click', function () {
    //        var id = $(this).val();
    //        $('#modalUpdate').modal('show');
    //        $.ajax({
    //            url: '/ProductManage/Edit',
    //            data: {
    //                id: id
    //            },
    //            type: 'GET',
    //            dataType: 'json',
    //            success: function (response) {
    //                if (response.status == true) {
    //                    $('#ID').val(response.ID);
    //                    $('#Name').val(response.Name);
    //                    $('#CategoryID').val(response.CategoryID);
    //                    $('#SupplierID').val(response.SupplierID);
    //                    $('#ProducerID').val(response.ProducerID);
    //                    $('#AgeID').val(response.AgeID);
    //                    $('#GenderID').val(response.GenderID);
    //                    $('#TextImage1').val(response.Image1);
    //                    $('#TextImage2').val(response.Image2);
    //                    $('#TextImage3').val(response.Image3);
    //                    $('#img1').attr('src', "/Content/images/" + response.Image1);
    //                    $('#img2').attr('src', "/Content/images/" + response.Image2);
    //                    $('#img3').attr('src', "/Content/images/" + response.Image3);
    //                    $('#Price').val(response.Price);
    //                    $('#PromotionPrice').val(response.PromotionPrice);
    //                    $('#Description').val(response.Description);
    //                    $('#Quantity').val(response.Quantity);
    //                    $('#HomeFlag').prop("checked", response.HomeFlag);
    //                    $('#HotFlag').prop("checked", response.HotFlag);
    //                    $('#IsNew').prop("checked", response.IsNew);
    //                    $('#IsActive').prop("checked", response.IsActive);
    //                }
    //                else {
    //                    bootbox.alert(response.message);
    //                }
    //            },
    //            error: function (err) {
    //                console.log(err);
    //            }
    //        });
    //    });
    //    $("#keyword").autocomplete({
    //        source: function (request, response) {
    //            $.ajax({
    //                url: "/ProductManage/ListName",
    //                type: "POST",
    //                dataType: "json",
    //                data: { Prefix: request.term },
    //                success: function (data) {
    //                    response($.map(data, function (item) {
    //                        return { label: item.Name, value: item.Name };
    //                    }))

    //                }
    //            })
    //        },
    //        messages: {
    //            noResults: "", results: ""
    //        }
    //    });
    //    $(document).on('click', '.btnOpen', function () {
    //        var id = $(this).attr('id');
    //        var row = $(this).attr('value');
    //        $(this).attr("class", "btn btn-link btnBlock");
    //        $(this).attr("data-ajax-update", "#DivActive" + row);
    //        $(this).attr("href", "/ProductManage/Block/" + id + "?row=" + row + "&amp;value=" + id + "\"");
    //        $(this).html("Khóa");
    //    });
    //    $(document).on('click', '.btnBlock', function () {
    //        var id = $(this).attr('id');
    //        var row = $(this).attr('value');
    //        $(this).attr("class", "btn btn-link btnOpen");
    //        $(this).attr("data-ajax-update", "#DivActive" + row);
    //        $(this).attr("href", "/ProductManage/Active/" + id + "?row=" + row + "&amp;value=" + id + "\"");
    //        $(this).html("Mở");
    //    });
    //    $('#btnDeleteMulti').hide();
    //    $('#checkAll').click(function () {
    //        if ($(this).is(":checked")) {
    //            $(".cbProductCategory").prop("checked", true)
    //        }
    //        else {
    //            $(".cbProductCategory").prop("checked", false)
    //        }
    //        $('#btnDeleteMulti').toggle();
    //    });
    //});
</script>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index")">Trang chủ</a> <i class="fa fa-angle-right"></i></li>
    <li class="breadcrumb-item"><a href="@Url.Action("List")">Sản phẩm</a> <i class="fa fa-angle-right"></i></li>
</ol>

<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            <ul class="bt-list">
                <li><a href="#" class="hvr-icon-float-away col-24" style="background-color:green" id="btnAddNew">Thêm mới</a></li>
            </ul>
            <hr />
            <div class="w3-search-box">
                <form action="~/ProductManage/List" method="post">
                    <input type="text" placeholder="Tìm kiếm..." name="keyword" id="keyword">
                    <input type="submit" value="">
                </form>
            </div><!--//end-search-box-->
            <p>@ViewBag.message</p>
            <div class="clearfix"> </div>
            <hr />
            <h2>Danh sách sản phẩm</h2>
            @*@using (Html.BeginForm("DeleteMulti", "ProductManage", FormMethod.Post))
                {*@
            <input type="submit" value="Xóa mục đã chọn" class="btn btn-default" id="btnDeleteMulti" />
            <table id="table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="checkAll" />
                        </th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Hình ảnh
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            ngày cập nhật cuối
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter1 = 0;
                    }
                    @foreach (var item in Model)
                    {
                        @Html.Hidden(item.ID.ToString())
                        <tr>
                            <td>
                                <input type="checkbox" class="cbProductCategory" value="@item.ID" name="IDDelete" />
                            </td>
                            <td style="color:brown">
                                <b>@Html.DisplayFor(modelItem => item.Name)</b>
                            </td>
                            <td>
                                <img src="@Url.Content("~/Content/images/" + item.Image1)" width="100" height="100" />
                            </td>
                            <td>
                                <div id="DivActive@(counter1)">
                                    @if (item.IsActive == true)
                                    {
                                        <span class="label label-success">Kích hoạt</span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger">Khóa</span>
                                    }
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastUpdatedDate)
                            </td>
                            <td>
                                @*@Html.ActionLink("Sửa", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" })*@
                                <button class="btn btn-primary btnEdit" value="@item.ID">Sửa</button>
                                @if (item.IsActive == true)
                                {
                                    @Ajax.ActionLink("Khóa", "Block", "ProductManage", new { ID = item.ID, row = counter1 }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "DivActive" + counter1, InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-link btnBlock", data = counter1, id = item.ID, value = counter1 })
                                }
                                else
                                {
                                    @Ajax.ActionLink("Mở", "Active", "ProductManage", new { ID = item.ID, row = counter1 }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "DivActive" + counter1, InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-link btnOpen", data = counter1, id = item.ID, value = counter1 })
                                }
                            </td>
                        </tr>
                        @(counter1++)
                    }
                    @(counter1 = 0)
                </tbody>
            </table>
            @*}*@
            <br />
            <div id='Paging' style="text-align: center">
                @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAdd" role="dialog">
    <div class="modal-dialog">

        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm mới</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "ProductManage", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label for="Name">Tên sản phẩm:</label>
                        <input type="text" class="form-control" name="Name" id="NameAdd">
                        <input type="text" name="page" value="@ViewBag.Page" hidden="hidden" />
                        <input type="hidden" id="hidID" value="0" />
                    </div>
                    <div class="form-group">
                        <label>Danh mục:</label>
                        @Html.DropDownList("CategoryID", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Nhà cung cấp:</label>
                        @Html.DropDownList("SupplierID", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Nhà sản xuất:</label>
                        @Html.DropDownList("ProducerID", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Độ tuổi:</label>
                        @Html.DropDownList("AgeID", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Giới tính:</label>
                        @Html.DropDownList("GenderID", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Hình ảnh 1:</label>
                        <input type="file" name="ImageUpload" id="Image1Add" />
                    </div>
                    <div class="form-group">
                        <label>Hình ảnh 2:</label>
                        <input type="file" name="ImageUpload" id="Image2Add" />
                    </div>
                    <div class="form-group">
                        <label>Hình ảnh 3:</label>
                        <input type="file" name="ImageUpload" id="Image3Add" />
                    </div>
                    <div class="form-group">
                        <label>Giá bán:</label>
                        <input type="number" class="form-control" name="Price" id="PriceAdd">
                    </div>
                    <div class="form-group">
                        <label>Giá khuyến mãi:</label>
                        <input type="number" class="form-control" name="PromotionPrice" id="PromotionPriceAdd">
                    </div>
                    <div class="form-group">
                        <label>Mô tả:</label>
                        <input type="text" class="form-control" name="Description" id="DescriptionAdd">
                    </div>
                    <div class="form-group">
                        <label>Số lượng tồn:</label>
                        <input type="number" class="form-control" name="Quantity" id="QuantityAdd">
                    </div>
                    <div class="form-group">
                        <label>Sản phẩn mới:</label>
                        <input class="form-control" data-val="true" id="IsNewAdd" name="IsNew" type="checkbox" value="true">
                    </div>
                    <div class="form-group">
                        <label>Kích hoạt:</label>
                        <input class="form-control" data-val="true" id="IsActiveAdd" name="IsActive" type="checkbox" value="true">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnSave">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalUpdate" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "ProductManage", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    <input type="text" name="ID" id="ID" hidden="hidden" />
                    <input type="text" name="page" value="@ViewBag.Page" hidden="hidden" />
                    <div class="form-group">
                        <label for="Name">Tên sản phẩm:</label>
                        <input type="text" class="form-control" name="Name" id="Name">
                        <input type="hidden" id="hidID" value="0" />
                    </div>
                    <div class="form-group">
                        <label>Danh mục:</label>
                        @Html.DropDownList("CategoryID", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Nhà cung cấp:</label>
                        @Html.DropDownList("SupplierID", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Nhà sản xuất:</label>
                        @Html.DropDownList("ProducerID", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Độ tuổi:</label>
                        @Html.DropDownList("AgeID", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Giới tính:</label>
                        @Html.DropDownList("GenderID", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Hình ảnh 1:</label>
                        <input type="text" class="form-control" name="Image1" id="TextImage1">
                        <input type="file" name="ImageUpload" id="Image1" />
                    </div>
                    <div class="form-group">
                        <label>Hình ảnh 2:</label>
                        <input type="text" class="form-control" name="Image2" id="TextImage2">
                        <input type="file" name="ImageUpload" id="Image2" />
                    </div>
                    <div class="form-group">
                        <label>Hình ảnh 3:</label>
                        <input type="text" class="form-control" name="Image3" id="TextImage3">
                        <input type="file" name="ImageUpload" id="Image3" />
                    </div>
                    <div class="form-group">
                        <label>Giá bán:</label>
                        <input type="number" class="form-control" name="Price" id="Price">
                    </div>
                    <div class="form-group">
                        <label>Giá khuyến mãi:</label>
                        <input type="number" class="form-control" name="PromotionPrice" id="PromotionPrice">
                    </div>
                    <div class="form-group">
                        <label>Mô tả:</label>
                        <input type="text" class="form-control" name="Description" id="Description">
                    </div>
                    <div class="form-group">
                        <label>Số lượng tồn:</label>
                        <input type="number" class="form-control" name="Quantity" id="Quantity">
                    </div>
                    <div class="form-group">
                        <label>Sản phẩn mới:</label>
                        <input class="form-control" data-val="true" id="IsNew" name="IsNew" type="checkbox" value="true">
                    </div>
                    <div class="form-group">
                        <label>Kích hoạt:</label>
                        <input class="form-control" data-val="true" id="IsActive" name="IsActive" type="checkbox" value="true">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnSave">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>