@model IEnumerable<ToyStore.Models.Product>

@{
    ViewBag.Title = "Sản phẩm bán chạy";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/bootbox.js"></script>



<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index")">Trang chủ</a> <i class="fa fa-angle-right"></i></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index")">Chọn hình thức thống kê</a> <i class="fa fa-angle-right"></i></li>
    <li class="breadcrumb-item"><a href="@Url.Action("List")">Sản phẩm bán chạy</a> <i class="fa fa-angle-right"></i></li>
</ol>

<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            <h2>Danh sách sản phẩm bán chạy</h2>
            <form action="/StatisticManage/StatisticProductSold" method="get">
                Từ: <input type="date" name="from" value="@ViewBag.from.ToString("yyyy-MM-dd")" />
                Đến: <input type="date" name="to" value="@ViewBag.to.ToString("yyyy-MM-dd")" />
                <input type="submit" value="Xem" class="btn btn-info" />
            </form>
            <ul class="bt-list">
                <li><a href="@Url.Action("DownloadExcelStatisticProductSold","StatisticManage",new { from=ViewBag.from,to=ViewBag.to})" class="hvr-icon-up col-24" style="background-color:green" id="btnAddNew">Xuất Excel</a></li>
            </ul>
            @if (Model != null)
            {
                if (Model.Count() > 0)
                {
                    <table id="table">
                        <thead>
                            <tr>
                                <th>
                                    Tên sản phẩm
                                </th>
                                <th>
                                    Hình ảnh
                                </th>
                                <th>
                                    Số lượng đã bán
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @Html.Hidden(item.ID.ToString())
                                <tr>
                                    <td style="color:brown">
                                        <b>@Html.DisplayFor(modelItem => item.Name)</b>
                                    </td>
                                    <td>
                                        <img src="@Url.Content("~/Content/images/" + item.Image1)" width="100" height="100" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PurchasedCount)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span>Không có dữ liệu...</span>
                }
            }
            else
            {
                <span>Không có dữ liệu...</span>
            }
        </div>
    </div>
</div>