@model IEnumerable<ToyStore.Models.Supplier>

@{
    ViewBag.Title = "Những nhà cung cấp tốt nhất";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/bootbox.js"></script>



<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index")">Trang chủ</a> <i class="fa fa-angle-right"></i></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index")">Chọn hình thức thống kê</a> <i class="fa fa-angle-right"></i></li>
    <li class="breadcrumb-item"><a href="@Url.Action("List")">Những nhà cung cấp tốt nhất</a> <i class="fa fa-angle-right"></i></li>
</ol>

<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            <h2>Danh sách những nhà cung cấp tốt nhất</h2>
            <ul class="bt-list">
                <li><a href="@Url.Action("DownloadExcelStatisticSupplier","StatisticManage",null)" class="hvr-icon-up col-24" style="background-color:green" id="btnAddNew">Xuất Excel</a></li>
            </ul>
            <table id="table">
                <thead>
                    <tr>
                        <th>
                            Tên nhà cung cấp
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Tình trạng
                        </th>
                        <th>
                            Doanh số
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @Html.Hidden(item.ID.ToString())
                        <tr>
                            <td style="color:brown">
                                <b>@Html.DisplayFor(modelItem => item.Name)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @if (item.IsActive!= true)
                                {
                                    <span class="label label-danger">Ngừng hợp tác</span>
                                }
                                else
                                {
                                    <span class="label label-success">Đang hợp tác</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalAmount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>