@model PagedList.IPagedList<ToyStore.Models.ImportCoupon>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh Sách Phiếu Nhập";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index")">Trang chủ</a> <i class="fa fa-angle-right"></i></li>
    <li class="breadcrumb-item"><a href="@Url.Action("List")">Sản phẩm</a> <i class="fa fa-angle-right"></i></li>
</ol>

<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            <h2>Danh sách phiếu nhập</h2>
            <table id="table">
                <thead>
                    <tr>
                        <th>
                            Mã Phiếu Nhập
                        </th>
                        <th>
                            NCC
                        </th>
                        <th>
                            Tạo bởi
                        </th>
                        <th>
                            Ngày Nhập
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @Html.Hidden(item.ID.ToString())
                        <tr>
                            <td style="color:brown">
                                <b>@Html.DisplayFor(modelItem => item.ID)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Supplier.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                <a class="btn btn-primary btnImport" href="@Url.Action("ImportProductDetail","ImportProductManage",new { ID=item.ID})">Chi Tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <div id='Paging' style="text-align: center">
                @Html.PagedListPager(Model, page => Url.Action("ImportCoupon", new { page }))
            </div>
        </div>
    </div>
</div>
