
    <a href="@Url.Action("Checkout","Cart")"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
    <h4>
        <a href="@Url.Action("Checkout","Cart")">
            @ViewBag.TotalPrice₫ (@ViewBag.TotalQuanity)
        </a>
    </h4>
    <div class="cart-box">
        <p><a href="@Url.Action("Checkout","Cart")">Xem Giỏ Hàng</a></p>
        <div class="clearfix"> </div>
    </div>
