
@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
@{
    List<ToyStore.Models.Cart> Cart = Session["Cart"] as List<ToyStore.Models.Cart>;
}
<script src="~/Scripts/bootbox.js"></script>
<script>
    $(document).ready(function (c) {
        $('.btnEdit').off('click').on('click', function () {
            var id = $(this).val();
            $('#modalUpdate').modal('show');
            $.ajax({
                url: '/Cart/EditCart',
                data: {
                    id: id
                },
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        var data = response.data;
                        $('#ID').val(data.ID);
                        $('#Price').val(data.Price);
                        $('#ProductID').val(data.ProductID);
                        $('#Quantity').val(data.Quantity);
                        $('#Image').attr('src', "/Content/images/" + data.Image);
                    }
                    else {
                        bootbox.alert(response.message);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
    });
</script>
<!--breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="active">Xem Giỏ Hàng</li>
        </ol>
    </div>
</div>
<!--//breadcrumbs-->
<!--cart-items-->
<div class="cart-items">
    <div class="container" id="DivCheckout">
        @if (Cart != null)
        {
            <h3 class="wow fadeInUp animated" data-wow-delay=".5s">Giỏ Hàng Của Bạn Có: @ViewBag.TotalQuantity Sản Phẩm</h3>
            foreach (var item in Cart)
            {
                <div class="cart-header wow fadeInUp animated" data-wow-delay=".5s">
                    @Ajax.ActionLink("Xóa", "RemoveItemCart", "Cart", new { ID = item.ProductID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "DivCheckout", InsertionMode = InsertionMode.Replace }, null)
                    <div class="cart-sec simpleCart_shelfItem">
                        <div class="cart-item cyc">
                            <a href="single.html"><img src="@Url.Content("~/Content/images/" + item.Image)" class="img-responsive" alt=""></a>
                        </div>
                        <div class="cart-item-info">
                            <h4><a href="single.html"> @item.Name </a></h4>
                            <ul class="qty">
                                <li><p>Số lượng: @item.Quantity</p></li>
                                <li><p>Đơn giá: @item.Price.ToString("#,##")₫</p></li>
                                <li><p>Thành tiền: @item.Total.ToString("#,##")₫</p></li>
                            </ul>
                        </div>
                        <button class="btn btn-default btnEdit" value="@item.ProductID">Sửa</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            }
            if (Session["Member"] == null)
            {
                <div class="login-page">
                    <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
                        <h3 class="title">Thêm Mới Thông Tin Đặt Hàng</h3>
                    </div>
                    <div class="widget-shadow">
                        <div class="login-top wow fadeInUp animated" data-wow-delay=".7s">
                            <h4>Đăng nhập để mua hàng nhanh chóng <br> Bạn chưa có tài khoản? <a href="@Url.Action("SignUp","Home")">  Đăng Ký Ngay »</a> </h4>
                        </div>
                        <div class="login-body wow fadeInUp animated" data-wow-delay=".7s">
                            @using (Html.BeginForm("AddOrder", "Cart", FormMethod.Get))
                            {
                                <input type="text" class="user" name="FullName" placeholder="Họ tên" required="">
                                <input type="text" name="PhoneNumber" class="user" placeholder="Số điện thoại">
                                <input type="text" name="Email" class="user" placeholder="Email">
                                <input type="text" name="Address" class="user" placeholder="Địa chỉ nhận hàng">
                                <input type="submit" name="Sign In" value="Tiến Hành Đặt Hàng">
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {

                @Html.ActionLink("Đặt Hàng", "AddOrder", "Cart")
            }
        }
        else
        {
            <h3 class="wow fadeInUp animated" data-wow-delay=".5s">Giỏ Hàng Của Bạn Hiện Đang Trống</h3>
        }
    </div>
</div>
<!--//cart-items-->
<div class="modal fade" id="modalUpdate" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditCart", "Cart", FormMethod.Post))
                {
                    <input type="text" name="ID" id="ID" hidden="hidden" />
                    <div class="form-group">
                        <label for="Name">Mã sản phẩm:</label>
                        <input type="text" class="form-control" name="ProductID" id="ProductID" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label>Hình ảnh:</label>
                        <img name="Image" id="Image" style="height:200px;width:200px" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Đơn giá:</label>
                        <input type="text" class="form-control" name="Price" id="Price" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="Name">Số lượng:</label>
                        <input type="number" class="form-control" name="Quantity" id="Quantity">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnSave">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>